@media screen and (max-width: 1220px) {
    .product__wrapper {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 0 auto;
        max-width: 821px;
        padding: 0 20px;
        margin-bottom: 136px;
    }
    .product-img {
        align-items: center;
    }
}

@media screen and (max-width: 992px) {
    .header__burger {
        display: block;
        position: relative;
        z-index: 150;
        cursor: pointer;
        width: 24px;
        height: 18px;
    }

    .header__burger span {
        display: block;
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #c9adc6;
        border-radius: 1px;
        left: 0;
        top: 8px;
    }

    .header__burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #c9adc6;
        top: 0;
        left: 0;
    }

    .header__burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color:#c9adc6;
        bottom: 0;
        left: 0;
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #fff;
        width: 100%;
        height: auto;
        transform: translateY(-100%);
        transition: all .2s ease;
    }

    .header__menu.active {
        transform: translateY(0);
    }

    .header__nav {
        flex-direction: column;
        padding-top: 140px;
        padding-left: 20px;
        gap: 20px;
        margin-bottom: 20px;
    }

    .main__img {
        width: 50%;
        overflow: hidden;
    }

    .about_me__img {
        width: 50%;
        overflow: hidden;
    }
    .content__img {
        object-fit: cover;
        width: 100%;
        height: 280px;
    }
    .content__img2 {
        object-fit: cover;
        width: 100%;
        height: 380px;
    }

    .contacts {
        margin-top: 97px;
        margin-right: 145px;
        margin-left: 10px;
    
    }
    .form__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 400px;
    }
    .input {
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        margin-bottom: 5px;
        width: 150px;
    }
    .advant__text {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main__img {
        width: 35%;
        overflow: hidden;
    }
    .content__block {
        display: block;
        /*gap: 60.75px;*/
        align-items: center;
    }
    .content__img {
        width: 100%;
        height: auto;
    }
    .content__img2 {
        width: 100%;
        height: auto;
    }
    .contact_me {
        height: 700px;
    }
    .product__wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 0 auto;
        max-width: 821px;
        padding: 0 20px;
        margin-bottom: 136px;
    }
    .product-img {
        align-items: center;
        margin-left: 18%;
    }
    .advant {
        height: 600px;
        background-color: #D6BBD3;
    }
    .advant__items {
        display: block;
        gap: 190px;
        padding-top: 20px;
    }
    .footer {
        height: 250px;
    }
    .footer__menu {
        display: block;
        text-align: center;
        padding-top: 40px;
    }
    .footer__nav {
        display: block;
        margin-top: 10px;
    }
    .facebook {
        margin-top: 10px;
        margin-right: 0;
    }
}

@media screen and (max-width: 690px) {
    .main__text {
        font-size: 35px;
    }
    .product-img {
        align-items: center;
        margin-left: 15%;
    }
    .main__img {
        width: 35%;
        overflow: hidden;
    }

}
